.apply_container{
    /* height: 90vh; */
    margin: 150px 0px;
}
.form_container{
    width: 100%;
    /* height: 70vh; */
    /* box-shadow: 0px 0px 20px 1px #9f9f9f; */
}
.form_container h1{
    color: #00c389;
}
.inputDateP:required{
    background-color: #00c389;
}
.form{
    height: 100%;
    /* overflow: auto; */
    padding-right: 10px;
    padding-left: 10px;
}
.inputs, .selects{
    outline: none;
    border: 0px;
    border-bottom:1px dashed rgb(218, 218, 218);
    color: black;
}
 .selects{
    outline: none;
    border: 0px;
    border-bottom:1px dashed rgb(218, 218, 218);
    color: black;
}
.left_content{
    /* width: 150px; */
    background-image: url('/image/TicketAssets/AWSCourse.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.box{
    padding: 50px 0px;
    border-radius: 20px;
    border-style: dashed;
    /* border: 1px solid gray; */
    gap: 30px 0px;
}
.box h5{
    top: -13px;
    margin-left: 30px;
    display: inline-block;
    background-color: white;
    color: #00c389;
    padding: 0px 15px;
}
.inputDateP input{
    outline: none !important;
    border: 0px !important;
    border-bottom:1px dashed rgb(218, 218, 218) !important;
    color: black !important;
    border-radius: 0px !important;
    height: auto !important;
    line-height: normal !important;
}
/* .inputDateP .ceEIkZ:focus, .inputDateP .ceEIkZ:active{
    box-shadow: none !important;
} */
.submit_btn{
    background-color: #00c389;
    color: white;
    border-radius: 9999px;
    padding: 10px 50px;
    margin: 50px 0px;
    border: 0;
}
.submit_btn:active{
    transform: scale(.95);
}
.fontWeight{
  font-weight: 600;
  font-size: 20px;
}
@media (max-width:600px) {
    .fontWeight{
        font-weight: 500;
        font-size: 14px;
      }
      .form_container{
        width: 100%;

        padding: 0 20px !important;
        /* height: 70vh; */
        /* box-shadow: 0px 0px 20px 1px #9f9f9f; */
    }
    
}