.gallery_container{
    margin: 200px 0px;
    
}
.gallery_container img{
    border-radius: 10px;
}
.gallery_container img{
    width: 100%;
}
.gallery_content{
    /* width: 300px; */
    grid-column: span 2 / span 2;
}
/* img:last-child{
    grid-column: span 2 / span 2;
    height: 100%;
} */
.second_image{
    grid-row: span 2 / span 2;
    height: 100%;
    background-image: url('/image/aws2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.last_image{
    grid-column: span 2 / span 2;
    overflow: hidden;
    border-radius: 10px;
    background-image: url('/image/aws8.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutImg{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;

    
}
.aboutImg img:hover{
    transition: all 2s;
}
.aboutImg img:hover{
    transform: scale(1.1);
}
@media (max-width:820px) {
    .aboutImg{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:20px;
    
        
    }
}
@media (max-width:600px) {
    .aboutImg{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
    
        
    }
}