.concernParent{
  padding: 100px 0px;
}
.concern_title{
  color: #00c389;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.concerns_line{
  content: '';
  width: 6rem;
  height: 2px;
  background-color: #7e7e7e;
  /* position: relative; */
}
.concerns_para{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: 700;
  color: #04004d;
  width: 80%;
}
.marqueImg{
  width:100px;
   height:100px;
}
@media (max-width:600px) {
  .concernParent{
    padding: 0px 0px;
  }
  .concerns_para{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #04004d;
  width: 80%;
}
}