.courses{
    margin: 0;
    font-weight: 700;
    margin: 0;
    color: #00c389;
    /* position: relative; */
    font-size: 20px;

}
.coursesid{
    padding: 10px 0;
    background-color: red !important;
}
.course_line{
    width: 2rem;
    background-color: #7e7e7e;
    height: 2px;
}
.course_pera{
    font-weight: 800;
    color: #04004d;
    font-size: 45px;
    margin: 30px 0px 60px 0px;
}
.course_container{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 20px;
 
 

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 20px;
    margin: 100px 0px; */
}
.course_wrapper{
    /* flex: 0 0 50%;
    width: 50%; */
    flex:0 0 49%;
    display: flex;
    gap:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #c9c9c9;
}
.course_wrapper h5{
    font-weight: 600;
}
.course_wrapper p{
    text-align: justify;
}
.course_image{
    width: 30%;
    height: 100%;
}
.course_image img{
    width: 100%;
    height: 50%;
    margin-top: 50px;
    margin-left: 10px;
    box-shadow: 0px 0px 3px 0px #c9c9c9;
    border-radius: 10px;
}
.course_content{
    width: 70%;
    padding: 20px 10px;
}
.course_pera{
    font-weight: 700;
    color: #04004d;
    font-size: 30px;
    margin: 30px 0px 60px 0px;
}

@media (max-width:600px) {
    .course_container{
        display: grid;
        /* flex-wrap: wrap; */
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        gap: 20px;
        align-items: center;
     
     
    
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px 20px;
        margin: 100px 0px; */
    }
    .course_wrapper{
        /* flex: 0 0 50%;
        width: 50%; */
        flex:0 0 49%;
        width: 300px !important;
        display: flex;
        gap:30px;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0px #c9c9c9;
        margin: 0 auto;
    }
    .course_image img{
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: 0;
        box-shadow: 0px 0px 3px 0px #c9c9c9;
        border-radius: 10px;
    }
    .course_image{
        width: 100% !important;
        padding: 0%;
        margin: 0%;
        height: 100%;
    }
    .course_image img{
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 3px 0px #c9c9c9;
        border-radius: 10px;
    }
    .course_pera{
        font-weight: 700;
        color: #04004d;
        font-size: 20px !important;
        margin: 30px 0px 60px 0px;
    }
    .course_wrapper{
        /* flex: 0 0 50%;
        width: 50%; */
        flex:0;
        display: block;
        gap:0px;
        height: 350px;
        border-radius: 10px;
        transition: transform .2s;
        padding: 0 !important;
        box-shadow: 0px 0px 4px 0px #c9c9c9;}
      
    .course_image{
        width:280px;
        height: 50%;
    }
    .course_container{
        /* background-color: blue; */
    }
    .course_content{
        width: 100%;
        padding:20px 10px;
        margin: 0;
    
    }
    .course_wrapper h5{
        font-weight: 500;
        font-size: 16px;
    }
    .course_wrapper p{
        text-align: justify;
        font-size: 14px;
    }
    .course_wrapper:hover{
        transform: scale(0.8);
    }
}