.timer{

    margin:0px 43px;
    position: relative;
    z-index: 1;
}
/* .countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./image/aboutImg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    /* background-color: red; */

/* } */ 
.countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./image/aboutImg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: ;
    /* background-color: red; */
    width: 100%;
    height: 300px;
    /* margin: 0px 50px !important; */

}
.countdown::before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index:10 ;
 background-color: rgba(0, 0, 0, 0.829);
}
.countdown div{
    width: 150px;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    margin: 40px;
    z-index: 100;

}
.CountTitle {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:white;
    padding: 10px 0px;
    background-image:linear-gradient(90deg, #56b5e3,#7d58a5)}

.countdown::before div{
    z-index: 100;
}
.countdown div h3{
    color: #00c389;
    z-index: 100 !important;
}
.countdown div p{
    color: white;
    z-index: 100 !important;
    font-size: 35px;
    font-weight: 700;
}
@media (max-width:600px) {
    .countdown div{
        width: 80px;
        align-items: center;
        text-align: center;
        padding: 0px 0px;
        margin: 20px 10px;
        z-index: 100;

    
    }
    .timer{

        margin:0px 0px;
        position: relative;
        z-index: 1;
    }
    .countdown div h3{
        color: #00c389;
        z-index: 100 !important;
        font-size: 22px;
    }
    .countdown div p{
        color: white;
        z-index: 100 !important;
        font-size: 20px;
        font-weight: 700;
    }
}