.timer{
    margin: 150px;
}
.countdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown div{
    width: 150px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    margin: 40px;

}
.countdown div h3{
    color: #00c389;
}