.mainProfilePage{
    margin-top: 200px;
    margin-bottom: 50px;

}
.profile_container{
    margin-top: 0px;
    padding: 0 80px ;
    margin-bottom: 100px;
  
}
.student_profile{
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
.line{
    width: 7rem;
    height: 2px;
    background-color: #00c389;
    margin: auto;
    margin-bottom: 50px;
}
.avatar_sec{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px #adadad82;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar_sec img{
    width: 30%;
    margin-bottom: 10px;
}
.details_container{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #8080806e;
    width:100%;
    margin-left: 20px;
}
.infoTable{
    list-style: none;
    padding-left: 0px !important;
    margin-bottom: 0px !important;

}
.spanBold{
    font-weight: bold;
}
/* .infoTable li{
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
} */
.infoTable li:nth-child(even){
    background-color: transparent;
    padding: 10px;
   overflow: hidden;
   width: 100%;
}
.infoTable li:nth-child(odd){
    background-color: #adadad34;
    border-radius: 10px;
    padding: 10px;
}
.payment_summary{
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-top: 100px;
    text-align: center;
}
.payment_table_head tr{
    background-color: #adadad34;
    text-align: center;
    border-radius: 50px 0px 0px 50px;
}
.payment_table_head th:first-child{
    border-radius: 10px 0px 0px 0px;
}
.payment_table_head th:last-child{
    border-radius: 0px 10px 0px 0px;
}
.payment_table_body{
    text-align: center;
}
/* .payment_table_body td:first-child{
    border-radius: 0px 0px 0px 10px;
}
.payment_table_body td:last-child{
    border-radius: 0px 0px 10px 0px;
} */
.payment_table_body tr:nth-child(even){
    text-align: center;
    background-color: #adadad34;
}
.table tr th{

    font-size: 18px;
    padding: 0 10px;
    font-weight: 700;
 }
 /* .table2 tr {
   padding-top: 20px !important;
 } */
 .table2 tr td{

    font-size: 14px;
    padding: 20px 10px;
 }

.profileImg {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border-radius: 50%;
    position: sticky;
    z-index: 10;
 
}
.profile_title{
    background-image: linear-gradient(to right, rgba(86, 181, 227, 100), rgba(125, 88, 165, 100));
    color:white;
    text-align: center;
    padding: 10px ;
}
.profile_img_sec_con{
    font-size: 18px;
    font-weight: 600;
    /* padding: 1px; */
    text-align: center;

}
.profile_img_sec{
    padding: 0px 50px 50px 50px;
    background-image: linear-gradient(to left, rgba(86, 181, 227, 100), rgba(125, 88, 165, 100));
}
.courseTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

@media (max-width:820px) {
    .mainProfilePage{
        margin-top: 150px;
    
    }
    .profileImg {
        height: 100px;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        border-radius: 50%;
        z-index: 10;
        
    }
    .avatar_sec{
        width: 300px;
        height: 250px;
        border-radius: 10px;
        box-shadow: 0px 0px 13px 0px #adadad82;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        padding: 30px 20px;
        
    }
    .profile_container{
        margin-top: 150px;
        padding: 0 0px ;
        margin-bottom: 100px;
  
    }
    .details_container{
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0px #8080806e;
        width: 100%;
        margin-left: 0px;
    }
    .infoTable li {
        background-color: transparent;
        padding: 5px;
       overflow: hidden;
       width: 100%;
       font-size: 14px;
    }
    .avatar_sec img{
        width: 30%;
        margin-bottom: 10px;
        margin: 0 auto;
    }
    .profile_container{
        margin-top: 200px;
        padding: 0 0px ;
        margin-bottom: 100px;
    }
   
}
@media (max-width:600px) {
    .profile_container{
        margin-top: 0px;
        padding: 0 0px ;
        margin-bottom: 100px;
    }
    .table tr th{

       font-size: 14px;
       padding: 0 10px;
       font-weight: 600;
    }
    /* .table2 tr {
      padding-top: 20px !important;
    } */
    .table2 tr td{

       font-size: 12px;
       padding: 20px 10px;
    }

}