.navbar_container{
    background-image: linear-gradient(90deg,white, #56b5e3,#7d58a5);
    padding: 20px 0px;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}
.navbar_container2{
    /* background-image: linear-gradient(90deg,white, #56b5e3,#7d58a5); */
    background-color: transparent;
    padding: 20px 0px;
    /* box-shadow: 0px 0px 20px 5px gray; */
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 136px;
}
.link_wrapper{
    display: flex;
    align-items: center;
    list-style: none;
}
.link_wrapper li{
    margin-right: 15px;
    font-weight: 600;
    color: white;
}
.apply_btn{
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}
.apply_btn li{
    color: black;
}
.apply_btn:active{
    transform: scale(.95);
}
#courses path{
    /* position: relative; */
    fill: white !important;
}
#courses_menu{
    display: none;
    /* top: 0; */
    width: 250px;
    font-size: 14px;
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    background-color: white;
    list-style: none;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px 0px rgb(182, 182, 182);
}
#courses_menu li{
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 12px;
    /* transition-timing-function: ease; */
    /* transition: color .8s ease; */
    border-radius: 5px;
    transition: color 2s ease;
    transition: background-color 2s ease;
}
#courses_menu a:hover{
    text-decoration: none !important;
}
#courses_menu li:hover{
    background-color: #599fd0;
    color: white;
    border-radius: 5px;
    padding: 5px 12px;
    /* transition: color .8s ease; */
    transition: color 2s ease;
    transition: background-color 2s ease;
}
#courses_menu path{
    fill: black !important;
}
#courses:hover #courses_menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}