
.contactMainCardPadding {
    padding: 7px;
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, rgba(86, 181, 227, 100), rgba(125, 88, 165, 100));
    border-radius: 2px !important;
}

.contactCardPadding {
    padding: 40px 30px 40px 30px;
    background: #ffffff;
    border-radius: 2px !important;
    margin-top: 40px;
}

.contact-btn {
    background-image: linear-gradient(to right, rgba(86, 181, 227, 100), rgba(125, 88, 165, 100));
    border-color: rgba(86, 181, 227, 100);
    border-radius: 2px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-shadow: none !important;
}

.contact-btn:hover {
    border-color: rgba(86, 181, 227, 100);
    border-radius: 2px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-shadow: none !important;
}

.contact-section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #56B5E3FF;
}

.contact-section-subTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 374.98px) {
    .contactCardPadding {
        padding: 25px 15px 25px 15px;
        margin-top: 15px;
    }

    .contact-section-subTitle {
        font-size: 11px;
        font-weight: 300;
    }

    .contact-section-title {
        font-size: 18px;
        font-weight: 500;
    }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
    .contactCardPadding {
        padding: 25px 25px 25px 25px;
        margin-top: 20px;
    }

    .contact-section-subTitle {
        font-size: 12px;
        font-weight: 300;
    }

    .contact-section-title {
        font-size: 20px;
        font-weight: 400;
    }
}