.faq-btn {
    height: 30px !important;
    width: 70px !important;
    font-size: 12px;
    color: #ffffff;
    background-color: #41578d;
    font-weight: 300;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}

.faq-btn:focus {
    border-radius: 2px;
    box-shadow: none !important;
}

.faq-card {
    border-radius: 2px;
    margin: 5px;
    padding-left: 20px !important;
    background-color: #f5f5f5;
    border: none !important;
}

.faq-des {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.faq-Question {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.faqModalBtn {
    border-radius: 2px !important;
    background-color: #b01d1d;
    font-family: 'Poppins', sans-serif;
    border-color: #b01d1d;
}

.faqModalBtn:focus {
    border-radius: 2px !important;
    background-color: #b01d1d;
    font-family: 'Poppins', sans-serif;
    border-color: #b01d1d;
}


@media (max-width: 374.98px) {
    .faq-Question {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
    .faq-Question {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .faq-Question {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .faq-Question {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .faq-Question {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (min-width: 1200px) {

}