.googleMap {
    width: 100% !important;
    height: auto;
    min-height: 375px !important;
    border: none;
    padding-right: 0px;
    padding-left: 0px;
}

@media (max-width: 374.98px) {
    .googleMap {
        min-height: 220px !important;
        min-width: 220px !important;
        border: none !important;
        margin-top: 15px;
    }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
    .googleMap {
        min-height: 305px !important;
        min-width: 305px !important;
        border: none !important;
        margin-top: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .googleMap {
        min-height: 320px !important;
        min-width: 430px !important;
        margin-top: 15px;
        border: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .googleMap {
        height: 350px;
        min-height: 320px !important;
        min-width: 320px !important;
        border: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .googleMap {
        min-height: 320px !important;
        min-width: 440px !important;
        border: none !important;
    }
}

@media (min-width: 1200px) {
    .googleMap {
        height: 350px;
        min-height: 320px !important;
        min-width: 520px !important;
        border: none !important;
    }
}