@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "bigSlider.css";
@import "btn.css";
@import "card.css";
@import "common.css";

@import "contact.css";
@import "faq.css";
@import "footer.css";

@import "form.css";
@import "galleryImage.css";
@import "icon.css";
@import "map.css";

@import "navMenu.css";
@import "other.css";
@import "responsive.css";
@import "typo.css";
@import "image.css";
@import "services.css";
@import "courses.css";
@import "event.css";
@import "apply.css";
@import "home.css";
@import "marquee.css";
@import "projectStatistics.css";
@import "courseDetails.css";
@import "alumni.css";
@import "toast.css";
@import "career.css";
@import "time.css";
@import "profile.css";
@import "rainbow.css";
@import "cyberSecurityCourseLandingPage.css";
@import "popup.css";
@import "navMenuMobile.css";

#root {
    background-color: #ffffff !important;
    font-family: 'Poppins', sans-serif !important;
    width: 100% !important;
}

input[type="radio"] {
    width: 18px;
    height: 18px;
    accent-color: #0e537e;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
    accent-color: #0e537e;
    border-radius: 0!important;
}